<%- include('headers/html-header', {title: `Edit Sighting ID:
${sighting.idx}`}); -%>

<nav class="navbar navbar-dark bg-dark fixed-top">
  <!-- Navbar content -->
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Edit Sighting ID: <%= sighting.idx %></a>
  </div>
</nav>
<div class="container pt-5">
  <div class="row">
    <div class="col-12">
      <form
        action="/sighting/<%= sighting.idx %>/edit?_method=PUT"
        method="POST"
      >
        <div class="row">
          <h4 class="mb-3">Location</h4>
          <div class="col-md-6 mb-3">
            <label for="citySpotted">
              <strong>City</strong>
              <small class="fst-italic"> (where the UFO is sighted) </small>
            </label>
            <input
              type="text"
              class="
                form-control
                <%
                if
                (sighting.city_invalid)
                {%>
                is-invalid
                <%
                }
                %>
              "
              id="citySpotted"
              name="city"
              placeholder="e.g. Marin County"
              value="<%= sighting.city %>"
            />
            <div class="invalid-feedback"><%= sighting.city_invalid %></div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="stateSpotted">
              <strong>State</strong>
              <small class="fst-italic"> (where the UFO is sighted) </small>
            </label>
            <input
              type="text"
              class="
                form-control
                <%
                if
                (sighting.state_invalid)
                {%>
                is-invalid
                <%
                }
                %>
              "
              id="stateSpotted"
              name="state"
              placeholder="e.g. CA"
              value="<%= sighting.state %>"
            />
            <div class="invalid-feedback"><%= sighting.state_invalid %></div>
          </div>
          <div class="col-12 mb-3">
            <label for="dateSpotted">
              <strong>Date &amp; Time</strong>
              <small class="fst-italic"> (when the UFO is sighted) </small>
            </label>
            <input
              type="datetime-local"
              class="
                form-control
                <%
                if
                (sighting.date_time_invalid)
                {%>
                is-invalid
                <%
                }
                %>
              "
              id="dateSpotted"
              name="date_time"
              value="<%= sighting.date_time %>"
              max="<%= sighting.timeNow %>"
            />
            <div class="invalid-feedback">
              <%= sighting.date_time_invalid %>
            </div>
          </div>
        </div>
        <hr class="mb-3" />
        <div class="row">
          <h4 class="mb-3">UFO Sighting Specifics</h4>
          <div class="col-md-6 mb-3">
            <label for="ufoShape">
              <strong>Shape</strong>
              <small class="fst-italic"> (of the UFO) </small>
            </label>
            <input
              type="text"
              class="
                form-control
                <%
                if
                (sighting.shape_invalid)
                {%>
                is-invalid
                <%
                }
                %>
              "
              id="ufoShape"
              name="shape"
              placeholder="e.g. Sphere"
              value="<%= sighting.shape %>"
            />
            <div class="invalid-feedback"><%= sighting.shape_invalid %></div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="ufoDuration">
              <strong>Duration</strong>
              <small class="fst-italic"> (of the UFO appearance) </small>
            </label>
            <input
              type="text"
              class="
                form-control
                <%
                if
                (sighting.duration_invalid)
                {%>
                is-invalid
                <%
                }
                %>
              "
              id="ufoDuration"
              name="duration"
              placeholder="e.g. 3 minutes"
              value="<%= sighting.duration %>"
            />
            <div class="invalid-feedback"><%= sighting.duration_invalid %></div>
          </div>
        </div>
        <hr class="mb-3" />
        <div class="row">
          <div class="col-12 mb-3">
            <h4 class="mb-3">Other Information</h4>
            <label for="ufoStory">
              <strong>Tell us the story of your UFO sighting!</strong>
            </label>
            <textarea
              class="
                form-control
                <%
                if
                (sighting.text_invalid)
                {%>
                is-invalid
                <%
                }
                %>
              "
              id="ufoStory"
              name="text"
              rows="5"
              placeholder="eg. Witnessed an orange, slow moving light. Was looking out my window and saw a orange colored, non blinking light floating across the night sky. Woke up my daughters to confirm what I was seeing. The object did not blink, was definitely not a helicopter. Very bright orange and moved slowly for about 2 minutes, disappeared behind the trees and did not see it again. Never seen anything like this in my life."
            >
<%= sighting.text %></textarea
            >
            <div class="invalid-feedback"><%= sighting.text_invalid %></div>
          </div>
        </div>
        <hr class="mb-4" />
        <button class="btn btn-primary btn-lg btn-block" type="submit">
          Edit Sighting
        </button>
      </form>
    </div>
  </div>
</div>

<%- include('footers/html-footer'); -%>
