<%- include('headers/html-header', {title: 'Sightings'}); -%>
<div class="container-fluid d-flex align-items-stretch">
  <div class="row align-items-stretch w-100">
    <%- include('sidebar/sidebar', {sidebar: { active: "home"} }); -%>
    <div class="col-12 col-md-9 py-3">
      <%- include('headers/header', {}); -%>
      <marquee>You have visited this page <%= visits %> time(s).</marquee>
      <% if (latest.length > 0) { %>
      <p
        href="/"
        class="
          d-flex
          align-items-center
          mb-3 mb-md-0
          me-md-auto
          ps-3
          link-dark
          text-decoration-none
        "
      >
        <span class="fs-4 index-header">Latest</span>
      </p>
      <hr />
      <% latest.forEach((sighting, index) => { %>
      <div
        class="
          row
          mb-3
          pb-3
          <%
          if
          (index
          !==
          latest.length
          -
          1)
          {
          %>border-bottom
          border-white<%
          }
          %>
          align-items-center
        "
      >
        <div class="col-4">
          <a href="/sighting/<%= sighting.idx %>"
            ><img
              class="img-fluid"
              src="https://picsum.photos/900/600?random=<%= sighting.idx %>"
          /></a>
        </div>
        <div class="col-8">
          <p>
            <a class="created-link" href="/sighting/<%= sighting.idx %>">
              <small><%= sighting.createdFmt %></small>
            </a>
          </p>
          <p class="m-0">
            <a href="/sighting/<%= sighting.idx %>">
              <%= sighting.summary %>
            </a>
          </p>
        </div>
      </div>
      <% }) %> <% } %><% if (sightings.length > 0) { %>
      <p
        href="/"
        class="
          d-flex
          align-items-center
          mb-3 mb-md-0
          me-md-auto
          ps-3
          link-dark
          text-decoration-none
        "
      >
        <span class="fs-4 index-header2">Articles</span>
      </p>
      <hr />
      <div class="row align-items-stretch pb-3">
        <% sightings.forEach(sighting => { %>
        <div class="col-12 col-sm-6 col-md-4 mb-3">
          <p class="mb-1 text-center">
            <a href="/sighting/<%= sighting.idx %>">
              <img
                class="img-fluid"
                src="https://picsum.photos/900/600?random=<%= sighting.idx %>"
              />
            </a>
          </p>
          <p class="mb-1 text-center">
            <a class="created-link" href="/sighting/<%= sighting.idx %>">
              <small><%= sighting.createdFmt %></small>
            </a>
          </p>
          <p class="mb-1 text-center">
            <a href="/sighting/<%= sighting.idx %>">
              <%= sighting.summary %>
            </a>
          </p>
        </div>
        <% }) %>
      </div>
      <% } %>
    </div>
  </div>
</div>
<%- include('footers/html-footer'); -%>
