<%- include('headers/html-header', {title: `${shape}`}); -%> <%#
<nav class="navbar navbar-dark bg-dark fixed-top">
  <!-- Navbar content -->
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Sightings</a>
  </div>
</nav>
%>
<div class="container-fluid">
  <div class="row align-items-stretch">
    <%- include('sidebar/sidebar', {}); -%>
    <div class="col-12 col-md-9">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" class="text-center">Sighting</th>
            <th scope="col" class="text-center">Link</th>
          </tr>
        </thead>
        <tbody>
          <% sightings.forEach((sighting, index) => { %>
          <tr>
            <th scope="row" class="text-center align-middle">
              <%= index + 1 %>
            </th>
            <td class="text-center align-middle">
              <%# sighting indexes count from 1, not 0 %>
              <a href="/sighting/<%= sighting.idx + 1 %>">
                <%= sighting.summary %>
              </a>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%- include('footers/html-footer'); -%>
