<%- include('headers/html-header', {title: `Sighting ID: ${idx}`}); -%>
<nav class="navbar navbar-dark bg-dark fixed-top">
  <!-- Navbar content -->
  <div class="container-fluid">
    <div class="row w-100">
      <div class="col-6">
        <a class="navbar-brand" href="#">Sighting ID: <%= idx %></a>
      </div>
      <div class="col-6 text-end">
        <a class="btn btn-outline-light" href="/sighting/<%= idx %>/edit"
          >Edit</a
        >
        <form
          class="d-inline-block"
          action="/sighting/<%= idx %>/delete?_method=DELETE"
          method="POST"
        >
          <input class="btn btn-danger" type="submit" value="Delete" />
        </form>
      </div>
    </div>
  </div>
</nav>
<div class="container pt-5">
  <div class="row">
    <div class="col-12">
      <p class="text-end">
        <small class="fst-italic">Created: <%= createdFmt %></small>
      </p>
      <p class="text-end">
        <small class="fst-italic">Last Updated: <%= lastUpdatedFmt %></small>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <form action="/sighting" method="POST">
        <div class="row">
          <h4 class="mb-3">Location</h4>
          <div class="col-md-6 mb-3">
            <p>
              <strong>City</strong>
              <small class="fst-italic"> (where the UFO is sighted) </small>
            </p>
            <p class="m-0"><%= city %></p>
          </div>

          <div class="col-md-6 mb-3">
            <p>
              <strong>State</strong>
              <small class="fst-italic"> (where the UFO is sighted) </small>
            </p>
            <p class="m-0"><%= state %></p>
          </div>

          <div class="col-12 mb-3">
            <p>
              <strong>Date & Time</strong>
              <small class="fst-italic"> (when the UFO is sighted) </small>
            </p>
            <p class="m-0"><%= dateTimeFmt %></p>
          </div>
        </div>
        <hr class="mb-3" />
        <div class="row">
          <h4 class="mb-3">UFO Sighting Specifics</h4>
          <div class="col-md-6 mb-3">
            <p>
              <strong>Shape</strong>
              <small class="fst-italic"> (of the UFO) </small>
            </p>
            <p class="m-0"><%= shape %></p>
          </div>
          <div class="col-md-6 mb-3">
            <p>
              <strong>Duration</strong>
              <small class="fst-italic"> (of the UFO appearance) </small>
            </p>
            <p class="m-0"><%= duration %></p>
          </div>
        </div>
        <hr class="mb-3" />
        <div class="row">
          <div class="col-12 mb-3">
            <h4 class="mb-3">Other Information</h4>
            <p>
              <strong>Summary</strong>
            </p>
            <p><%= summary %></p>
            <hr class="mb-3" />
            <p>
              <strong>Tell us the story of your UFO sighting!</strong>
            </p>
            <p><%= text %></p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<%- include('footers/html-footer'); -%>
