<%- include('headers/html-header', {title: `Sighting ID: ${idx}`}); -%>
<div class="container-fluid d-flex align-items-stretch">
  <div class="row align-items-stretch w-100">
    <%- include('sidebar/sidebar', { sidebar: { active: "sighting" } }); -%>
    <div class="col-12 col-md-9 py-3">
      <%- include('headers/header', {}); -%>
      <div class="row">
        <div class="col-12">
          <p class="text-end">
            <small class="fst-italic">Created: <%= createdFmt %></small>
          </p>
          <p class="text-end">
            <small class="fst-italic"
              >Last Updated: <%= lastUpdatedFmt %></small
            >
          </p>
        </div>
      </div>
      <form action="/sighting" method="POST">
        <div class="row">
          <h4 class="mb-3">Location</h4>
          <div class="col-md-6 mb-3">
            <p>
              <strong>City</strong>
              <small class="fst-italic"> (where the UFO is sighted) </small>
            </p>
            <p class="m-0"><%= city %></p>
          </div>

          <div class="col-md-6 mb-3">
            <p>
              <strong>State</strong>
              <small class="fst-italic"> (where the UFO is sighted) </small>
            </p>
            <p class="m-0"><%= state %></p>
          </div>

          <div class="col-12 mb-3">
            <p>
              <strong>Date & Time</strong>
              <small class="fst-italic"> (when the UFO is sighted) </small>
            </p>
            <p class="m-0"><%= dateTimeFmt %></p>
          </div>
        </div>
        <hr class="mb-3" />
        <div class="row">
          <h4 class="mb-3">UFO Sighting Specifics</h4>
          <div class="col-md-6 mb-3">
            <p>
              <strong>Shape</strong>
              <small class="fst-italic"> (of the UFO) </small>
            </p>
            <p class="m-0"><%= shape %></p>
          </div>
          <div class="col-md-6 mb-3">
            <p>
              <strong>Duration</strong>
              <small class="fst-italic"> (of the UFO appearance) </small>
            </p>
            <p class="m-0"><%= duration %></p>
          </div>
        </div>
        <hr class="mb-3" />
        <div class="row">
          <div class="col-12 mb-3">
            <h4 class="mb-3">Other Information</h4>
            <p>
              <strong>Summary</strong>
            </p>
            <p><%= summary %></p>
            <hr class="mb-3" />
            <p>
              <strong>Tell us the story of your UFO sighting!</strong>
            </p>
            <p><%= text %></p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<%- include('footers/html-footer'); -%>
